/*----------------- Implementacion de fuentes ----------------------*/
@font-face 
{
    font-family: beaufort;
    src: url(./fonts/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
}

@font-face 
{
    font-family: spiegel;
    src: url(./fonts/Spiegel-OTF/Spiegel-Bold.otf);
}

/*--------- Configuracion del cursor y estilado general ------------*/
*
{
    margin: 0;
    padding: 0;
    font-family: 'beaufort';
    cursor: url("./assets/cursores/cursor1.png"),auto;

}

li
{
    list-style: none;
}

legend
{
    color: #c89c3c;
    font-size: 22px;
    text-align: center;
    background-color: #010a13;
    border-bottom: 1px solid #c89c3c;
    border-radius: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    opacity: 85%;
    margin-bottom: 1.5rem;
    padding: 0.3rem;
}

.separador-lineal
{
    border: 1px solid #c89c3c;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/*------------------- Configuracion del background ------------------*/
body
{
    background-image: url("./assets/city-background.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    margin-right: 0%; 
}

/*#region------------------- Header ------------------*/
#header
{
    font-size: 20px;
    background-color: #010a13;
    color: #c89c3c;
    text-align: center;
    opacity: 85%;
    /* animation: scale-in-hor-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

#opcion1, #opcion2, #opcion3
{
    color: #c89c3c;
    display: inline-block;
    margin-left: 18vw;
    /* animation: scale-in-hor-left 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}

.separador-lineal-header
{
    border: 1px solid #c89c3c;
}

/*------------------- Contenido ------------------*/

    /*------------------- Buscador ------------------*/
    #buscador-dinamico
    {
        color: #c89c3c;
        background-color: #010a13;
        opacity: 85%;
        border: 1px solid #c89c3c;
        font-size: 18px;
        border-radius: 8px;
        height: 3rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        /* animation: scale-in-hor-center 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
    }

    .opcion-buscador
    {
        font-family: 'spiegel';
        border-radius: 5px;
        width: 33%;
        height: 90%;
        margin-top: 2px;
        background-color: #010a13;
        color: #c89c3c;
        border: 0px solid black;
    }

    .opcion-buscador:hover
    {
        cursor: url("./assets/cursores/cursor1.png"),auto;
    }

    /*------------------- Columna Info personal ------------------*/
    #informacion-personal
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 20px;
        background-color: #010a13;
        opacity: 85%;
        padding: 1rem;
        position: relative;
    }

    #contenedor-foto-cv
    {
        position: absolute;
        margin-left: 60%;
        margin-top: 1.5rem;
    }

    #foto-cv
    {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 1px solid #c89c3c;
        margin-bottom: 0.5rem;
        font-size: 22px;
        font-variant: small-caps;
    }

    #btn-verMas
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        font-size: 20px;
        width: 100%;
        height: 3.2rem;
        margin-top: 1.5rem;
        background-color: #010a13;
        opacity: 85%;
        color: #c89c3c;
    }

    /*------------------- Columna Carrusel ------------------*/
    #expositor-trabajos
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 25px;
        background-color: #010a13;
        padding: 1rem;
        opacity: 85%;
    }

    #carrusel
    {   
        border: 1px solid #c89c3c;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

    #foto-main-champ1,  #foto-main-champ2
    {
        border-radius: 5px;
        height: 19.4rem;
        width: 100%;
    }

    /*------------------- Descripcion personal ------------------*/
    #descripcion-personal
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 25px;
        background-color: #010a13;
        opacity: 85%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    #texto-complementario
    {
        border-radius: 8px;
        font-family: 'beaufort';
        text-align: center;
        width: 100%;
        color: white;
        padding: 0.5rem;
        margin-top: 0.3rem;
        font-size: 20px;
    }

    /*------------------- Copyright ------------------*/
    #texto-copyright
    {
        font-size: 20px;
        color: #c89c3c;
        opacity: 60%;
        text-align: center;
    }


/*------------------- Contenido "Ver mas"------------------*/

    /*------------------- Informacion academica y laboral ------------------*/
    #informacion-academica
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 20px;
        background-color: #010a13;
        opacity: 85%;
        padding: 1rem;
        margin-top: 2rem;
    }

    #informacion-laboral
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 20px;
        background-color: #010a13;
        opacity: 85%;
        padding: 1rem;
        margin-top: 2rem;
    }

/*====================================== Responsive Media-Querys ======================================*/
/* @media (max-width: 1400px) 
{
    #opcion1, #opcion2, #opcion3, #opcion4
    {
        margin-left: 0rem;
    }

    #carrusel, #presentacion
    {
        width: 99%;
    }

    #descripcion-carrusel
    {
        width: 99%;
    }

    #video-expositor-youtube
    {
        width: 99%;
    }
} */

/*====================================== Animaciones ======================================*/
/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/*------------------------------ Animaciones de entradas  ------------------------------*/

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  /**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

  /*------------------------------ Animaciones de salidas ------------------------------*/
  
  /**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }

  /**
 * ----------------------------------------
 * animation slide-out-right || animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  
  