/* ============================================ I N D E X (pag) ================================================== */

/*----------------- Implementacion de fuentes ----------------------*/
@font-face 
{
    font-family: beaufort;
    src: url(./assets/fonts/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
}

@font-face 
{
    font-family: spiegel;
    src: url(./assets/fonts/Spiegel-OTF/Spiegel-Bold.otf);
}

/*--------- Configuracion del cursor y estilado general ------------*/
*
{
    margin: 0;
    padding: 0;
    font-family: 'beaufort';
    cursor: url("./assets/cursores/cursor1.png"),auto;

}

li
{
    list-style: none;
}

legend
{
    color: #c89c3c;
    font-size: 22px;
    text-align: center;
    background-color: #010a13;
    border-bottom: 1px solid #c89c3c;
    border-radius: 18px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    opacity: 85%;
    margin-bottom: 1.5rem;
    padding: 0.3rem;
}

.h5Carrousel
{
  background-color: #010a13;
  color: #c89c3c;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #c89c3c;
  padding: 0.2rem;
  margin-top: 0.2rem;
}

.separador-lineal
{
    border: 1px solid #c89c3c;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#btn-verMas, #btn-verMas2, #btn-volver, #btn-volver2
{
    border: 1px solid #c89c3c;
    border-radius: 18px;
    font-size: 20px;
    width: 100%;
    height: 3.2rem;
    margin-top: 1.5rem;
    background-color: #010a13;
    opacity: 85%;
    color: #c89c3c;
}

#btn-verMas, #btn-verMas2
{
  animation: pulsate-bck 2.5s ease-in-out infinite both;
}

/*------------------- Configuracion del background ------------------*/
body
{
    background-image: url("./assets/background-2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    margin-right: 0%; 
}

/*#region------------------- Header ------------------*/
#header
{
    font-size: 20px;
    background-color: #010a13;
    color: #c89c3c;
    text-align: center;
    opacity: 85%;
}

#opcion1, #opcion2, #opcion3
{
    color: #c89c3c;
    display: inline-block;
    margin-left: 18vw;
    animation: tracking-in-expand 3.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    padding-bottom: 0px;
    margin-bottom: 4px;
}

.separador-lineal-header
{
    border: 1px solid #c89c3c;
}

/*------------------- Contenido principal ------------------*/

    /*------------------- Buscador ------------------*/
    #buscador-dinamico
    {
        color: #c89c3c;
        background-color: #010a13;
        opacity: 85%;
        border: 1px solid #c89c3c;
        font-size: 18px;
        border-radius: 8px;
        height: 3rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .opcion-buscador
    {
        font-family: 'spiegel';
        width: 25%;
        height: 90%;
        margin-bottom: 6px;       
        background-color: #010a13;
        color: #c89c3c;
        border: 0px solid black;
        animation: tracking-in-expand 2.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    .opcion-buscador:hover
    {
        cursor: url("./assets/cursores/cursor1.png"),auto;
    }

    /*------------------- Columna Info personal ------------------*/
    #informacion-personal
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 20px;
        background-color: #010a13;
        opacity: 85%;
        padding: 1rem;
        position: relative;
    }

    #contenedor-foto-cv
    {
        position: absolute;
        margin-left: 60%;
        margin-top: 1.5rem;
    }

    #foto-cv
    {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 1px solid #c89c3c;
        margin-bottom: 0.5rem;
        font-size: 22px;
        font-variant: small-caps;
    }

    /*------------------- Columna Carrusel ------------------*/
    #expositor-trabajos
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 25px;
        background-color: #010a13;
        padding: 1rem;
        opacity: 85%;
    }

    #carrusel
    {   
        border: 1px solid #c89c3c;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

    #foto-trabajo1,  #foto-trabajo2
    {
        border-radius: 5px;
        height: 19.4rem;
        width: 100%;
        animation: tracking-in-expand 3.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    }

    /*------------------- Descripcion personal ------------------*/
    #contenedor-descripcion-personal
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 25px;
        background-color: #010a13;
        opacity: 85%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    #descripcion-personal
    {
        border-radius: 8px;
        font-family: 'beaufort';
        text-align: center;
        width: 100%;
        color: white;
        padding: 0.5rem;
        margin-top: 0.3rem;
        font-size: 20px;
        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    /*------------------- Copyright ------------------*/
    #texto-copyright
    {
        font-size: 20px;
        color: #c89c3c;
        opacity: 60%;
        text-align: center;
    }

/*------------------- Contenido "Ver mas"------------------*/

    /*------------------- Informacion academica y laboral ------------------*/
    #informacion-academica
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 20px;
        background-color: #010a13;
        opacity: 85%;
        padding: 1rem;
        margin-top: 2rem;
    }

    #informacion-laboral
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 20px;
        background-color: #010a13;
        opacity: 85%;
        padding: 1rem;
        margin-top: 2rem;
    }

  /*------------------- Contenido "Ver mas 2"------------------*/

    /*------------------- Fila Carrusel ------------------*/
    #expositor-tecnologias
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 25px;
        background-color: #010a13;
        padding: 1rem;
        opacity: 85%;
        margin-top: 2rem;
    }

    #carrusel-tecnologias
    {   
        border: 1px solid #c89c3c;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

    .foto-tecnologia-aprendida
    {
        border-radius: 5px;
        height: 19.4rem;
        width: 100%;
    }

    #informacion-preferencias
    {
        border: 1px solid #c89c3c;
        border-radius: 18px;
        text-align: left;
        color: white;
        font-size: 20px;
        background-color: #010a13;
        opacity: 85%;
        padding: 1rem;
        margin-top: 2rem;
    }

/*====================================== Responsive Media-Querys ======================================*/
/* @media (max-width: 1400px) 
{
    #opcion1, #opcion2, #opcion3, #opcion4
    {
        margin-left: 0rem;
    }

    #carrusel, #presentacion
    {
        width: 99%;
    }

    #descripcion-carrusel
    {
        width: 99%;
    }

    #video-expositor-youtube
    {
        width: 99%;
    }
} */

/*====================================== Animaciones ======================================*/
/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/*------------------------------ Animaciones de entradas  ------------------------------*/

  /**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  /**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  /**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
  @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  /* Esta es solo para texto */
  /**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

/*------------------------------ Animaciones de atencion ------------------------------*/

  /**
  * ----------------------------------------
  * animation pulsate-bck
  * ----------------------------------------
  */
  @-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  /*------------------------------ Animaciones de salidas ------------------------------*/
  
  /**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
  @-webkit-keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }

  /**
 * ----------------------------------------
 * animation slide-out-right || animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
 * ----------------------------------------
 */
  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }

  /* Esta es solo para texto */
  /**
 * ----------------------------------------
 * animation tracking-out-contract
 * ----------------------------------------
 */
  @-webkit-keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }
  @keyframes tracking-out-contract {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  }

  
  /* ============================================ C O N T A C T O (pag) ================================================== */
  #agradecimiento-contacto
  {
      border: 1px solid #c89c3c;
      border-radius: 18px;
      text-align: center;
      color: white;
      font-size: 20px;
      background-color: #010a13;
      opacity: 85%;
      padding: 1rem;
      margin-top: 2rem;
  }

  #informacion-contacto
  {
      border: 1px solid #c89c3c;
      border-radius: 18px;
      text-align: left;
      color: white;
      font-size: 20px;
      background-color: #010a13;
      opacity: 85%;
      padding: 1rem;
      position: relative;
      margin-top: 2rem;
      margin-bottom: 2rem;
  }

  #input-mail, #input-razon
  {
    border: 1px solid #c89c3c;
    border-radius: 18px;
    font-size: 20px;
    width: 100%;
    height: 3.2rem;
    background-color: #010a13;
    opacity: 85%;
    color: #c89c3c;
    text-align: center;
  }

  #input-razon
  {
    margin-top: 1.5rem;
  }

  #btn-enviar
  {
    border: 1px solid #c89c3c;
    border-radius: 18px;
    font-size: 20px;
    width: 100%;
    height: 3.2rem;
    margin-top: 1.5rem;
    background-color: #010a13;
    opacity: 85%;
    color: #c89c3c;
  }

  /* ============================================ MI  R E C O R R I D O (pag) ================================================== */
  #contenedor-descripcion-recorrido
  {
      border: 1px solid #c89c3c;
      border-radius: 18px;
      text-align: left;
      color: white;
      font-size: 25px;
      background-color: #010a13;
      opacity: 85%;
      padding: 1rem;
      margin-bottom: 1rem;
      margin-top: 2rem;
  }

  #descripcion-recorrido
  {
      border-radius: 8px;
      font-family: 'beaufort';
      text-align: center;
      width: 100%;
      color: white;
      padding: 0.5rem;
      margin-top: 0.3rem;
      font-size: 20px;
      animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  #input-usuario
  {
    border: 1px solid #c89c3c;
    border-radius: 18px;
    font-size: 20px;
    width: 100%;
    height: 3.2rem;
    background-color: #010a13;
    opacity: 85%;
    color: #c89c3c;
    text-align: center;
    margin-top: 1.5rem;
  }

  #btn-buscar-recorrido
  {
    border: 1px solid #c89c3c;
    border-radius: 18px;
    font-size: 20px;
    width: 100%;
    height: 3.2rem;
    margin-top: 1.5rem;
    background-color: #010a13;
    opacity: 85%;
    color: #c89c3c;
  }